<!DOCTYPE html>
<html>
	<head><%= title %></head>
	<body>
		<% include nav %>
		<form>
			用户米:
			<input type="text" id="txtUserName" name="txtUserName">
			<input type="submit" value="提交">
		</form>
	</body>
</html>
